@charset "UTF-8";
/* ДОДАВАННЯ І ВІДНІМАННЯ */
.box {
  width: 620px;
  width: 550px;
  width: -webkit-calc(600px - 50%);
  width: -moz-calc(600px - 50%);
  width: calc(600px - 50%);
}

/* МНОЖЕННЯ І ДІЛЕННЯ */
.box {
  width: 1200px;
  width: 1250px;
  width: 1300px;
  width: 120px;
  width: 120px;
  width: 130px;
}

/* ІНТЕРПОЛЯЦІЯ */
.box {
  margin: 200px;
  margin: -webkit-calc(100px * 2);
  margin: -moz-calc(100px * 2);
  margin: calc(100px * 2);
}

.box {
  margin: 100px;
}

/* == END == */